.scroll-pane-glist{

    -fx-padding: 0px;
    -fx-pref-width: 300px;
    -fx-pref-height: 225px;
    -fx-border-style: none;
}


#G_infoHead{
    -fx-padding: 10px,0px;
    -fx-pref-height: 68px;
    -fx-alignment: center;
    /*-fx-spacing: 20px;*/
}

#G_groupname{
    -fx-background-color: #021959;
    -fx-pref-height: 68px;
    -fx-pref-width: 260px;
    -fx-alignment: center;  /*也是label中的text用的*/
    -fx-text-fill: white;


}

/*88 + 40*2 + 2*225 */
/*-------------------左侧列表----------------*/
.list-label{
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size:14px;
    -fx-padding: 5px,0px;

    -fx-alignment: center;
    -fx-pref-width: 300px;
    -fx-pref-height: 30px;
}

.list-cell {
    -fx-pref-width: 300px;
    -fx-pref-height: 40;
    -fx-background-color: #010716;
    -fx-text-fill: white;
    -fx-border-radius: 40px;
}
.list-cell:hover {

    -fx-background-color: #233880;
}

.list-cell:selected {
    -fx-background-color: #1d3072;
}
.list-cell:empty {
    -fx-background-color: #010716;
}




/*-------------------右侧文件列表----------------*/
/*88 + 80 + 450*/


#G_right_Head{
    -fx-background-color: #131f5a;
    -fx-padding: 10px;
    -fx-content-display: space-around;
    -fx-pref-height: 68px;
    -fx-border-radius: 50px;
}

#G_right_Body{
    -fx-background-color: white;
    -fx-pref-height: 530px;
}

#G_filePane{
    -fx-background-color: #2a98b8;
    -fx-pref-height: 530px;
}

#G_fileHead{
    -fx-background-color: #e6e8f3;
    -fx-padding: 10px;
    -fx-pref-height: 40px;
    /*-fx-spacing: 10px;*/
}

.right_tar{
    -fx-text-fill: white;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
    -fx-border-width: 0;
    fx-background-insets:0;
    -fx-border-style: none;
    -fx-font-weight:bold;
    -fx-background-color: #9bd1f4;
}
.right_tar:hover{
    -fx-background-color: #8bcbf4;
}

.right_tar:pressed{
    -fx-background-color: #6ebff2;
}


.btn_tar{
    -fx-font-size:14;
    -fx-background-color: #9bd1f4;
}
.btn_tar:hover{
    -fx-background-color: #8bcbf4;
}
.btn_tar:pressed {
    -fx-background-color: #6ebff2;
}

#fileBody{
    -fx-pref-height: 450px;
    -fx-background-color: white;

}


.file-cell{
    -fx-background-color: white;
    -fx-border-radius: 20px;
    -fx-padding: 20px;
    -fx-spacing: 30px;
}

.file-cell:hover{
    -fx-background-color: #e6e8f3;
}
.file-cell:pressed {
    -fx-background-color: #b3b6c1;
}



.file-pull{
    -fx-font-family: Consolas;
    -fx-font-size:14;
    -fx-content-display: right; /*label才能用*/

}

.file-push{
    -fx-content-display: right; /*label才能用*/
    -fx-font-family: Consolas;
    -fx-font-size:14;

}

.file-img{
    -fx-fill-height: 25px;
    -fx-fill-width: 25px;
    -fx-padding: 10px ;
}

/*-------------------右侧聊天区----------------*/
#textShowPane{
    -fx-pref-height: 430px;

}
#G_textContent_show{
    -fx-text-border: none;
    -fx-background-insets: 0;
    -fx-background-color: #b0b9d3;
    -fx-padding: 0;
}

#textSendPane{
    -fx-pref-height: 100px;
    -fx-background-color: white;
}

#btn_send{
    -fx-background-color: #616b86;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-font-weight:bold;
}




#left-pane{
    -fx-background-color: #0a1340;
    -fx-pref-width: 300px;
    -fx-pref-height: 558px;
    -fx-alignment: TOP_CENTER;
}

#right-pane{
    -fx-background-color: white;
    -fx-pref-width: 550px;
    -fx-pref-height: 558px;
    -fx-alignment: TOP_CENTER;
}


.root{
    -fx-background-color: #030c35;
    -fx-pref-width: 850px;
    -fx-pref-height: 558px;
    -fx-alignment: CENTER;
}